* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #f5f5f5; */
  /* background-color: #eadeda; */
  background-color: #c0e0de;
}

input,
select {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 16px;
}

label {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #264653;
}

.btn {
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
}

.form-btn {
  border: 1px solid #264653;
  background-color: #264653;
  color: white;
  font-size: 16px;
}

.form-btn:hover {
  background-color: white;
  color: #264653;
  cursor: pointer;
}

a {
  color: #264653;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  /* text-decoration: underline; */
}

.greet-name {
  color: white;
}

header {
  background-color: #00796b;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 30px; */
  grid-column: span 2;
}

.sidebar {
  border-right: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  height: 100%;
  /* position: sticky; */
  padding-top: 20px;
}

.sidebar a {
  color: black;
  font-size: 16px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px 25px;
}

.sidebar li:hover {
  background-color: #e0f2f1;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #00796b;
  color: white;
  padding: 20px 10px;
  z-index: 100;
  
}

.logout-btn {
  padding: 0.5rem 1rem;
  background-color: #009c94;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #00796b;
}
